<input placeholder="Add a location" (keyup)="locationSearch($event)" />
<br />
<button (click)="handleClearAll()">
  Clear locations
</button>
<div
  class="suggestion-container"
  *ngIf="suggestions != null && suggestions.length"
>
  <ng-container *ngFor="let suggestion of suggestions">
    <div class="suggestion" (click)="handleAddLocation(suggestion.item)">
      {{ suggestion.item.location }}
      <a
        [href]="suggestion.item.source.url"
        target="_blank"
        rel="noopener noreferrer"
        >(Source: {{ suggestion.item.source.name }})</a
      >
    </div>
  </ng-container>
</div>
