p {
  color: red;
}

.chart-container {
  border: 1px solid gray;
  display: inline-block;
  margin: 4px;

  button.edit {
    margin: 4px;
  }
}

footer {
  position: absolute;
  bottom: 4px;
  color: gray;
}