<ng-container *ngIf="!isEditing; else editor">
  <ng-container *ngFor="let graph of graphs; let i = index">
    <div class="chart-container">
      <button
        class="edit"
        (click)="startEditing(i)"
      >
        Edit
      </button>
      <multi-line-chart
        yAxisLabel="Number of confirmed cases"
        xAxisLabel="Days since {{ graph.definition.cutoff }} cases"
        [data]="graph.data"
        [animate]="graph.definition.animate"
        [xAxisBounds]="graph.definition.x_axis_bounds"
        [yAxisBounds]="graph.definition.y_axis_bounds"
      >
      </multi-line-chart>
    </div>
  </ng-container>
</ng-container>
<ng-template #editor>
  <div>
    <button
      class="back"
      (click)="stopEditing()"
    >
      Back
    </button>
  </div>
  <auto-suggest
    [index]="editingIndex"
    [graphDefinitions]="allGraphDefinitions"
  ></auto-suggest>
  <multi-line-chart
    yAxisLabel="Number of confirmed cases"
    xAxisLabel="Days since {{ graphs[editingIndex].definition.cutoff }} cases"
    [data]="graphs[editingIndex].data"
    [xAxisBounds]="graphs[editingIndex].definition.x_axis_bounds"
    [yAxisBounds]="graphs[editingIndex].definition.y_axis_bounds"
  >
  </multi-line-chart>
</ng-template>

<footer>
  Created by
  <a href="https://github.com/sollipse"
    target="_blank"
    rel="noopener noreferrer"
  >Paul</a>
  and
  <a href="https://github.com/prendradjaja"
    target="_blank"
    rel="noopener noreferrer"
  >Pandu</a>
  (<a href="https://github.com/prendradjaja/covid-dashboard" target="_blank" rel="noopener noreferrer">repo</a>)

  <span class="git-version">&mdash; {{version.commit}}{{version.untrackedMark}} ({{version.branch}})</span>
</footer>